.container {
  min-height: 100vh;
  height: auto;
}

.main {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
}
.nav__list {
  z-index: 100;
}

.contact-info {
  
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.contact-info__title {
  margin-bottom: 2rem;
}

.contact-info__text {
  width: 80%;
  text-align: center;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  justify-content: center;
}

.information {
  display: flex;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon__information {
  font-size: 1.8rem;
  color: #b64941;
  margin-right: 1rem;
}

.information__link {
  text-decoration: none;
  color: #333;
}

.social-media {
  padding: 1.2rem 0 0 0;
}

.social-media__text {
  color: #333;
  margin-bottom: 1rem;
}

.social-icon {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
}

.social-icon a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #b34e47, #b64941);
  color: #fff;
  text-align: center;
  line-height: 35px;
  transition: 0.3s;
}

.social-icon a:hover {
  transform: scale(1.05);
}

.contact-info::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 22px solid #b64941;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.contact-info::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 22px solid #b64941;
  border-radius: 50%;
  top: 307px;
  left: -60px;
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .contact-info {
    padding: 1rem;
  }

  .contact-info__title {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
  }

  .contact-info__text {
    
    width: 70%;
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
  }
}
