* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 100%;
  font-family: Roboto;
}

body,
input,
textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 20px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  background-color: #1a2224;
  /* background-image: linear-gradient(
          160deg,
          #1c2021 50%,
          #151819 50%,
          #252527 100%
        ); */
}

/* HEADER */

.header {
  grid-area: header;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

/* NAVIGATION */

.header__svg {
  margin: 0px auto;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 5rem;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav__item {
  list-style: none;
}

.nav__link {
  display: block;
  color: #b2b8c1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
}

.nav__link:hover {
  border-bottom: 1px solid #b64941;
}

/* SUBNAVIGATION */

.nav__item--gallery {
  position: relative;
}

.fa-caret-down {
  position: absolute;
  top: 45%;
  left: 90%;
  transform: translateY(-45%);
  font-size: 1rem;
}

.navSub--gallery {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.navSub__item {
  list-style: none;
}

.navSub__link {
  display: block;
  color: #b64941;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 15px;
  margin: 0 auto;
}
.navSub__link:hover {
  border-bottom: 1px solid #b64941;
}

.showSubMenu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* Button Hamburger */

.menu {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu__line {
  display: none;
  width: 100%;
  height: 0.1rem;
  background-color: #b64941;
  transition: all 0.5s;
  cursor: pointer;
}

.change .menu__line--1 {
  transform: rotate(40deg) translate(0.3rem, 1rem);
}

.change .menu__line--2 {
  opacity: 0;
}

.change .menu__line--3 {
  transform: rotate(-40deg) translate(0.2rem, -1rem);
}

/* MAIN */

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #b64941;
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #1a2224);
  position: absolute;
}
.circle--one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}
.circle--two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}
.contact-form::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #b64941;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contact__title {
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  margin: 1rem 0;
}

.textarea .input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn__submit {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #b64941;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn__submit:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 35px;
  transform: translateY(70%);
  font-size: 0.8rem;
  padding: 0 0.5rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
  /* background-color: black; */
}

.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 10px;
  background-color: #b64941;
  top: 40%;
  transform: translate(-40%);
}

.input-container span::before {
  left: 50%;
}

.input-container span::after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 5px;
  font-size: 1rem;
}

.input-container.focus span::before,
.input-container.focus span::after {
  width: 50%;
  opacity: 1;
}

/* contact-info  style  */

.icon {
  font-size: 2rem;
  color: #b64941;
  margin-right: 1rem;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info__title {
  color: #b64941;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  font-weight: 400;
}

.information {
  display: flex;
  color: #555;
  margin: 2rem 0;
  align-items: center;
  font-size: 1rem;
}

/* footer */

.footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.7rem;
}

/* MEDIA */

@media screen and (max-width: 768px) {
  .nav {
    display: block;
    margin: 0;
  }
  .nav__list {
    display: block;
    position: fixed;
    top: 80px;
    right: 0;
    width: 30%;
    text-align: center;
    background-color: #b64941;
    height: calc(100%-80px);
    border-radius: 5px 0 0 5px;
    padding: 2rem 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 250ms, opacity 250ms linear;
  }

  .nav__link {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 10px;
    transition: all 0.5s;
    margin: 0 auto;
    text-align: left;
    width: 50%;
  }

  .menu__line {
    display: block;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms linear;
  }

  .navSub--gallery {
    position: static;
  }

  .navSub__link {
    color: black;
    padding: 10px;
    font-weight: 400;
    text-align: left;
    width: 50%;
  }

  .header__svg {
    height: 46px;
  }
}
