* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 60px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  background-color: #1b2f33;
  background-image: linear-gradient(
    160deg,
    #1b2f33 50%,
    #1b2f33 50%,
    #b64941 100%
  );
}

/* HEADER */

.header {
  grid-area: header;
  height: 120px;
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
}

/* NAVIGATION */

.logo {
  margin-left: 5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  flex-grow: 1;
  margin-right: 5rem;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 50%;
}

.nav__item {
  list-style: none;
}

.nav__link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
}

.nav__link:hover {
  border-bottom: 1px solid #b64941;
}

/* SUBNAVIGATION */

.nav__item--gallery {
  position: relative;
}

.fa-caret-down {
  position: absolute;
  top: 45%;
  left: 90%;
  transform: translateY(-45%);
  font-size: 1rem;
}

.navSub--gallery {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.navSub__item {
  list-style: none;
}

.navSub__link {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px 20px;

  width: 100%;
  margin: 0 auto;
}
.navSub__link:hover {
  border-bottom: 1px solid #b64941;
}

.showSubMenu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* Button Hamburger */

.menu {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu__line {
  display: none;
  width: 100%;
  height: 0.3rem;
  background-color: #b64941;
  transition: all 0.5s;
  cursor: pointer;
}

.change .menu__line--1 {
  transform: rotate(40deg) translate(0.3rem, 1rem);
}

.change .menu__line--2 {
  opacity: 0;
}

.change .menu__line--3 {
  transform: rotate(-40deg) translate(0.2rem, -1rem);
}

/* Main */

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

/* MEDIA */

@media screen and (max-width: 1024px) {
  .nav {
    display: block;
    margin: 0;
  }
  .nav__list {
    display: block;
    position: fixed;
    top: 120px;
    right: 0;
    width: 300px;
    text-align: center;
    background-color: #b64941;
    height: calc(100%-120px);
    border-radius: 5px 0 0 5px;
    padding: 2rem 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 250ms, opacity 250ms linear;
  }

  .nav__link {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 10px 20px;
    transition: all 0.5s;
    width: 50%;
    margin: 0 auto;
  }

  .menu__line {
    display: block;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms linear;
  }

  .navSub--gallery {
    position: static;
  }
  .navSub__item {
    padding-left: 30px;
  }
  /* Slider */
  
  .slider__img {
    width: 80%;
    margin: 0 auto;
  }
  
}

/* SLIDER  */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 600px;
}

.footer {
  margin: 0 auto;
  line-height: 60px;
}
