* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 20px;
  grid-template-areas:
    "header"
    "main"
    "footer";

  background-color: #1a2224;
  background-image: linear-gradient(
        160deg,
        #1c2021 50%,
        #151819 50%,
        #252527 100%
      );
}

/* HEADER */

.header {
  grid-area: header;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 160px;
  padding-left: 2rem;
  padding-top: 1rem;
}

/* NAVIGATION */

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 5rem;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav__item {
  list-style: none;
}

.nav__link {
  display: block;
  color: #b2b8c1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 10px 20px;
  width: 100%;
  margin: 0 auto;
}

.nav__link:hover {
  border-bottom: 1px solid #b64941;
}

/* SUBNAVIGATION */

.nav__link--click {
  position: relative;
}

.fa-caret-down {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.navSub {
  display: none;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.navSub__item {
  list-style: none;
}

.navSub__link {
  display: block;
  color: #b64941;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 15px;
  margin: 0 auto;
  letter-spacing: 1px;
}
.navSub__link:hover {
  border-bottom: 1px solid #b64941;
}

.showSubMenu {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* Button Hamburger */

.menu {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu__line {
  display: none;
  width: 100%;
  height: 0.1rem;
  background-color: #b64941;
  transition: all 0.5s;
  cursor: pointer;
}

.change .menu__line--1 {
  transform: rotate(45deg) translate(-0.2rem, 1rem);
}

.change .menu__line--2 {
  opacity: 0;
}

.change .menu__line--3 {
  transform: rotate(-45deg) translate(-0.3rem, -1rem);
}

/* Main */

/* SLIDER  */
.main {
  grid-area: main;
}

.slider {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  grid-template-areas: "images";
}

.slider__img {
  /* 20px - footer height
  *  80px - header height
  *  10px - margin height between footer and image
  */
  height: calc(100vh - 20px - 40px - 10px);
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  object-fit: contain;
  /* object-position: top ; */
  grid-area: images;
  image-rendering: auto;
  image-rendering: crisp-edges;
  pointer-events: none;
}
/* footer */

.footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
}

/* MEDIA */

@media screen and (max-width: 768px) {
  .nav {
    display: block;
    margin: 0;
  }
  .nav__list {
    display: block;
    position: fixed;
    top: 70px;
    right: 0;
    width: 50%;
    text-align: center;
    background-color: #b64941;
    height: calc(100%-80px);
    border-radius: 5px 0 0 5px;
    padding: 0.5rem 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 250ms, opacity 250ms linear;
  }

  .nav__link {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 10px;
    transition: all 0.5s;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }

  .menu__line {
    display: block;
  }
  .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms linear;
  }

  .navSub {
    position: static;
  }

  .navSub__link {
    color: black;
    padding: 10px;
    font-weight: 400;
    text-align: center;
    width: 100%;
  }

  .fa-caret-down {
    left: 75%;
  }
}


