.about-me {  
  .main {
    @include grid-center;
    height: 100%;
    grid-template-columns: minmax(200px, 1fr) minmax(500px, 1fr);

    @include breakpoint-responsive('md'){
      @include grid-center;
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 100%;
      height: 100%;
    }
  }

  .info-details__link{
    color:$dark-black;
    font-size: 2rem;
  }

  .container {
      min-height: 100vh;
      height: auto;
  }

  .branding {
    @include flex-center;

    &__img {
      width: 80%;
      image-rendering: auto;
    }
    @include breakpoint-responsive('md'){
      display: none;
      }

  }

  .description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;

    &__heading {
      color: $third-color;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &__span {
      margin-bottom: 20px;
      width: 80px;
      height: 3px;
      background: $third-color;
    }
    @include breakpoint-responsive('md'){
        padding: 2rem 0;
        @include flex-center;

        &__heading {
          font-size: 0.8rem;
        }

        &__span {
          margin-bottom: 10px;
          width: 80px;
          height: 3px;
          background: $third-color;
    }
  }

  .name {
    display: flex;
    width: 400px;
    height: 60px;
    padding: 0 10px;
    align-items: center;
    background: $primary-color;
    box-shadow: 2px 5px 5px 0px $black;
    margin-top: 40px;
    margin-left: -150px;
    margin-bottom: 30px;

    &__title {
      @include font-details(1.8rem, 400);
      padding: 10px;
      color: $secondary-color;
    }

    @include breakpoint-responsive('md'){
       margin-top: 1.1rem;
        margin-left: 0px;
        margin-bottom: 1rem;
        width: 14rem;
        height: 40px;
        padding: 0 8px;
        margin-top: 20px;

        &__title {
          @include font-details(1.2rem, 400);
          padding: 10px;
          color: $secondary-color;
        }
    }
  }

  .personal-info {
    padding: 1rem 0;
    @include font-details(1rem, 300, 1.8rem);
    color: $gray-light;
    width: 80%;
    
 
    @include breakpoint-responsive('md'){
      @include font-details(0.8rem, 400, 1.5rem);
        padding: 1rem 0;
        color: $gray-light;
        text-align: center;
    }
  }

  .icon {
    @include iconTwitter;
  }
  }
}



