.about-me {
  .main {
    @include grid-center;
    padding: 0 2rem;
    grid-template-columns: minmax(200px, 1fr) minmax(500px, 1fr);
  }

  .container {
    min-height: 100vh;
    height: auto;
  }

  .branding {
    @include flex-center;

    &__img {
      width: 80%;
      image-rendering: auto;
    }

  }

  .description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
      color: $third-color;
      text-transform: uppercase;
      letter-spacing: 3px;
      @include font-details(1.1rem, 600);
    }

    &__span {
      margin-bottom: 20px;
      width: 80px;
      height: 3px;
      background: $third-color;
    }
  }

  .name {
    display: flex;
    width: 400px;
    height: 60px;
    padding: 0 10px;
    align-items: center;
    background: $primary-color;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    margin-left: -150px;
    margin-bottom: 30px;

    &__title {
      @include font-details(1.8rem, 400);
      padding: 10px;
      color: $secondary-color;
    }
  }


  .personal-info {
    padding: 1rem 0;
    @include font-details(1rem, 300, 1.8rem);
    color: rgba(253, 253, 253, 0.5);
    width: 80%;
  }

  .icon__fab{
    font-size: 2rem;
    padding: .5rem;
    border-radius: 50%;
    transition: all linear 0.1s;

    &:hover{
      color:$third-color;
      background-color: $primary-color;
    }
  }




  @media screen and (max-width: 768px) {
    .main {
      @include grid-center;
      padding: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      width: 100%;
      height: 100%;


    }

    .description {
      padding: 2rem 0;
      @include flex-center;

      &__heading {
        font-size: 0.8rem;
      }

      &__span {
        margin-bottom: 10px;
        width: 80px;
        height: 3px;
        background: $third-color;
      }
    }

    .branding {
      display: none;
    }

    .name {
      margin-top: 1.1rem;
      margin-left: 0px;
      margin-bottom: 1rem;
      width: 14rem;
      height: 40px;
      padding: 0 8px;

      &__title {
        @include font-details(1.2rem, 400);
        padding: 10px;
        color: $secondary-color;
      }
    }

    .personal-info {
      @include font-details(0.8rem, 400, 1.5rem);
      padding: 1rem 0;
      color: rgba(253, 253, 253, 0.5);
      text-align: center;

    }
  }
}