.contact {
  .main {
    @include grid-center;
    height: 100%;
    grid-template-columns: auto;
  }

  .container {
    min-height: 100vh;
    height: auto;
  }

  .nav__list {
    z-index: 100;
  }

  .contact-info {
    @include flex-center;
    position: relative;
    max-width: 560px;
    flex-direction: column;
    padding: 2rem;
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0.5rem;

    &__title {
      @include font-details(1.1rem, 400);
      margin-bottom: 2rem;
      letter-spacing: 1px;
    }

    &__text {
      width: 80%;
      text-align: center;
      line-height: 1.5rem;
      margin-bottom: 2rem;
    }

    &__::after {
      @include circle;
      top: 307px;
      left: -100px;
    }
    &__::before {
      @include circle;
      top: -100px;
      right: 0px;
    }
    // Responsive
    @include breakpoint-responsive("md") {
      padding: 1rem;

      &__title {
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1rem;
      }

      &__text {
        @include font-details(0.95rem, 400, 1.5rem);
        width: 70%;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }

  .info {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
  }

  .info-details {
    display: flex;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;

    &__icon {
      font-size: 1.8rem;
      color: $third-color;
      margin-right: 1rem;
    }

    &__link {
      text-decoration: none;
      color: $secondary-color;
      text-transform: lowercase;
    }
  }

  .social-media {
    padding: 1rem 0 0 0;

    &__text {
      @include font-details(1rem, 400);
      color: $secondary-color;
      margin-bottom: 0.8rem;
      text-align: center;
    }
  }

  .icon {
    @include iconTwitter;
    text-align: center;
    &__fab {
      background: $third-color;
      color: $primary-color;
    }

    &__fab:hover {
      background: $secondary-color;
      color: $primary-color;
    }
  }
}
