.contact{
  .main{
      @include grid-center;
      height: 100%;
      grid-template-columns: auto;
  }
  
  .container {
    min-height: 100vh;
    height: auto;
  }
  
  .nav__list {
      z-index: 100;
    }
  
  .contact-info{
      @include flex-center;
      max-width: 560px;
      flex-direction: column;
      padding: 2rem;
      background-color: $primary-color;
      border-radius: 10px;
      box-shadow: 0 0 20px 1px $black;
      overflow: hidden;
      margin: 0.5rem;
  
       &__title{
        @include font-details(1.1rem, 400); 
          margin-bottom: 2rem;
          letter-spacing: 1px;
          font-size: 1.5rem;
          text-align: center;
          line-height: 2.3rem;
         
       }
  
       &__text{
          width: 80%;
          text-align: center;
          line-height: 1.5rem;
          margin-bottom: 2rem;
       }
  
      

       @include breakpoint-responsive('md'){
        padding: 3rem;
  
        &__title {
          text-align: center;
          margin-bottom: 3rem;
          margin-top: 1rem;
          font-size: 2rem;
        }
  
        &__text {
          @include font-details(0.95rem, 400, 1.5rem); 
          width: 70%;
          text-align: center;
          margin-bottom: 1rem;
         
        }
       }
  
  }
  
  
  .info{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0; 
      
  }
  
  
  .info-details {
      display: flex;
      margin: 0.7rem 0;
      align-items: center;
      font-size: 0.95rem; 
  
      &__icon{
          font-size: 1.8rem;
          color: $third-color;
          margin-right: 1rem;
      }
  
      &__link{
          text-decoration: none;
          color: $secondary-color;
          text-transform: lowercase;
          font-size: 1.4rem;
      }

      &__link--instagram{
        text-transform: capitalize;
      }
  
    }
     
}