.main{
    @include display-grid;
    height: 100%;
    grid-template-columns: auto;
}

.container{
    @include container;
}

.nav__list {
    z-index: 100;
  }

.contact-info{
    @include display-flex;
    position: relative;
    max-width: 560px;
    flex-direction: column;
    padding: 2rem;
    background-color: $primary-color;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

     &__title{
        margin-bottom: 2rem;
        font-weight: 500;
        letter-spacing: 1px;  
     }

     &__text{
        width: 80%;
        text-align: center;
        line-height: 1.5rem;
        margin-bottom: 2rem;
     }

     &__::after{
        @include circle;
        top: 307px;
        left: -100px;
      
     }
     &__::before{
        @include circle;
        top: -100px;
        right: 0px;
      
     }


}


.info{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0; 
    
}


.info-details {
    display: flex;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
    &__icon{
        font-size: 1.8rem;
        color: $third-color;
        margin-right: 1rem;
    }

    &__link{
        text-decoration: none;
        color: $secondary-color;
    }

  }

  .social-media {
    padding: 1rem 0 0 0;
    
    &__text{
        color: $secondary-color;
        margin-bottom: 0.8rem;
        font-weight: 500;
        text-align: center;
    }

  }


  .icon{
    @include iconTwitter;
    &__fab{
        background: $third-color;
        color: $primary-color;
    }

    &__fab:hover{
        background: $secondary-color;
        color: $primary-color;
    }
  }