// Co powinno być w home ? , caly home rozdzieliłam jak na najmniejsze modłuły i wchodzi że w nim nic nie zostaje 
//  dlaczego ten container jest zabierany z components /constainer ? 
.home {
    // .container {
    //     height: 100vh;
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     grid-template-rows: 40px 1fr 20px;
    //     grid-template-areas:
    //       "header"
    //       "main"
    //       "footer";
      
    //     background-color: #1a2224;
    //     background-image: linear-gradient(
    //           160deg,
    //           #1c2021 50%,
    //           #151819 50%,
    //           #252527 100%
    //         );
    //   }  
    }
      
