@mixin display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin display-grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

@mixin container {
    min-height: 100vh;
    height: auto;
}


@mixin heading {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;

}

@mixin transition{
    transition: 0.5s linear;
}

@mixin circle{
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    border: 22px solid #b64941;
    border-radius: 50%;
    opacity: 0.3;
}

@mixin iconTwitter {
    margin-top: 2rem;
     &__fab{
      width: 3rem;
      height: 3rem;
      background: $primary-color;
      border-radius: 50%;
      text-align: center;
      color: $secondary-color;
      font-size: 1.3rem;
      line-height: 3rem;
      }
        &__fab:hover{
         background:$third-color;
         color: $primary-color;
         transition: 0.5s linear;
      }
}

