@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

// Fonts

@mixin font-details ($size, $font-weight, $line-height: 1.5rem) {
    font-size: $size;
    font-weight: $font-weight;
    line-height: $line-height;
}

// Responsive
@mixin breakpoint-responsive($size) {
    @media (max-width: map-get($breakpoints, $size)) {
      @content;
    }
}
