* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
}

a,
span,
img,
li,
::before,
::after {
    display: block;
}