//Color

$primary-color: #fff;
$secondary-color:#333;
$third-color:#b64941;
$gray-light:rgba(253, 253, 253, 0.5);
$black:rgba(0, 0, 0, 0.15);

// Sizes

$footer-height: 40px;
$header-height: 40px;
$main-height: 1fr;
$footer-margin-height: 10px;

//BREAKPOINTS
$breakpoints: (
  'sm': '576px',
  'md': '768px',
  'lg': '992px',
  'xl': '1200px',
);