.header {
    grid-area: header;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    &__logo-img {
        width: 160px;
        padding-left: 2rem;
        padding-top: 1rem;
    }
}